/examples/*/node_modules/
/examples/*/web_modules/
/web_modules/
/node_modules/*
!/node_modules/node-libs-browser/
!/node_modules/babel-standalone/
!/node_modules/less/
!/node_modules/coffee-script/
!/node_modules/x-include/
!/node_modules/minimatch/

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
._*

pids
logs
results
build
dist

npm-debug.log
bower_components